<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>
                {{ 'contacto.title' | translate }}
            </h2>
            <ul class="pages-list">
                <li><a routerLink="/">{{ 'nav.inicio' | translate }}</a></li>
                <li>{{ 'contacto.title' | translate }}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Contact Us -->
<div class="contact-area ptb-100">
    <div class="container">
        <div class="hospital-contact-form">
            <div class="section-title with-hospital-color">
                <!-- <span class="sub-title">Let Us Help You</span> -->
                <h2>
                    {{ 'contacto.pregunta' | translate }}
                </h2>
            </div>
            <form>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" required placeholder="{{ 'contacto.nombre' | translate }}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" required placeholder="{{ 'contacto.email' | translate }}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="phone_number" required class="form-control" placeholder="{{ 'contacto.telefono' | translate }}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="msg_subject" class="form-control" required placeholder="{{ 'contacto.asunto' | translate }}">
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <textarea name="message" class="form-control" cols="30" rows="5" required placeholder="{{ 'contacto.mensaje' | translate }}"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <button type="submit" class="default-btn">{{ 'contacto.mensajeEnviar' | translate }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <app-contact-info></app-contact-info>-->


<div class="hospital-information-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="hospital-information-card">
                    <div class="content">
                        <div class="icon">
                            <i class='bx bx-map'></i>
                        </div>
                        <h3>Centro Médico ABC Observatorio</h3>
                        <p>Sur 136, No. 116, Col. Las Américas, Alvaro Obregón, CDMX.  C.P. 01120</p>
                        <p>Tel. (55) 2127 1064</p>
                    </div>
                    <div class="shape">
                        <img src="assets/images/hospital/info-shape.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="hospital-information-card">
                    <div class="content">
                        <div class="icon">
                            <i class='bx bx-map'></i>
                        </div>
                        <h3>Hospital Ángeles del Pedregal</h3>
                        <p>Camino a Santa Teresa 1055, Colonia Héroes de Padierna, CDMX.  C.P. 10700</p>
                        <p>Tel. 55687887 / 51354776</p>
                    </div>
                    <div class="shape">
                        <img src="assets/images/hospital/info-shape.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="hospital-information-card">
                    <div class="content">
                        <div class="icon">
                            <i class='bx bx-map'></i>
                        </div>
                        <h3>Hospital Ángeles de Acoxpa </h3>
                        <p>Calzada Acoxpa 430, Equipamiento Fábrica Fisisa, Del. Tlalpan, CDMX. C.P. 14308</p>
                        <p>Tel. (55) 5677 9122 </p>
                    </div>
                    <div class="shape">
                        <img src="assets/images/hospital/info-shape.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="hospital-information-card">
                    <div class="content">
                        <div class="icon">
                            <i class='bx bx-map'></i>
                        </div>
                        <h3>Hospital Médica Sur </h3>
                        <p>Puente de Piedra 150, Colonia Toriello Guerra, Del. Tlalpan, CDMX.  C.P. 14050</p>
                        <p>Tel. (55) 2127 1064</p>
                    </div>
                    <div class="shape">
                        <img src="assets/images/hospital/info-shape.png" alt="image">
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>




<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34179.52682096503!2d-73.96244733794057!3d40.782433457301636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258a8d8fe5c1b%3A0xc7594d037ba3f984!2sNYC%20Health%20%2B%20Hospitals%2FMetropolitan.!5e0!3m2!1sen!2sbd!4v1668078195264!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->