<!-- Default About Section -->
<div class="about-area pt-100 pb-100">
    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-lg-12 col-md-12">
                <div class="about-content"> 
                    <h3>
                        <span style="color:#ee608a">Publicaciones en Revistas</span>
                    </h3>
                    <div class="row">

                        <div class="col-lg-6 col-6">
                            <ul class="about-list">
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    1.	Bolaños-Morales F. SARS- CoV 2 induces human endogenous retrovirus type W envelope protein expression in blood lymphocytes and in tissues of covid 19 patients. medRXiv.January 21, 2022. Doi: 10.1101/2022.01.18.21266 III
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    2.	Bolaños-Morales F.Post COVID 19 pneumo - hematocele: clinical presentattion and treatment pathway. General Thoracic and Cardiovascular Surgery.18 de junio 2022. Doi: 10.1007/s11748-022-01771-0
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    3.	Bolaños-Morales F. Spontaneus pneumomediastium in Covid -19 patients. Case Series. Gac.Med.Mex. 2021;157(1)110-114. Doi:10.24875/GMM.M21000528.
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    4.	Bolaños-Morales F;  et al: SARS CoV2 vaccination modelling for safe Surgery to save lives: data from an International prospective cohort study. COVIDSURG Collaborative. Anesthesia 2021. Jun 76;(6): 748-758. Doi: Doi:10.1111/anae.15458. epub 2021 mar 9. 
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    5.	Bolaños-Morales F;  et al: Corregemdum: CXCL17 Is a Specific Diagnostic Biomarker for Severe Pandemic Influenza A ( H1N1) That predicts poor Clinical Outcome. Front Inmunol. 2021 May 13;12:700716. Doi: 103389/fimmu.2021.700716. e collection 2021.
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    6.	Bolaños-Morales F;  et al:: Timing of Surgery following SARS: CoV2 infection : an International Prospective cohort study. COVIDSURG Collaborative. Br J  Surg 2021 mar 24:znab 101. Doi:10.3389/bjs/znab101 Online ahead of print
                                </li>                                
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    7.	Bolaños-Morales F;et al: CXCL17 Is a Specific Diagnostic Biomarker for Severe Pandemic Influenza A ( H1N1) That predicts poor Clinical Outcome. Front Inmunol. 2021 feb 26;12:633297. Doi: 103389/fimmu.2021.633297. e collection 2021.
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    8.	Bolaños-Morales F; J. Alfredo Santibañez- Salgado. Tuberculosis Associated Chylothorax. 20 ISMICS( Innovation, techologies and Thechinques in Cardiothoracic an Cardiovascular / vascular surgery. Poland.4-6 junio 2020
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    9.	Bolaños-Morales F; Thoracoscopic Pericardical Effusion Management in Obese patients. 20 ISMICS( Innovation, techologies and Thechinques in Cardiothoracic an Cardiovascular / vascular surgery. Poland.4-6 junio 2020
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    10.	Bolaños-Morales F; Removal of ectopic parathyroid adenomas in Aortopulmonary Window with minimal invasion Techniques. . 20 ISMICS( Innovation, techologies and Thechinques in Cardiothoracic an Cardiovascular / vascular surgery. Poland.4-6 junio 2020.
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    11.	Bolaños-Morales F.Carlos Alberto Carrasco Rueda. Mediastinitis necrotizante descendente de origen dental: revisión de la literatura y presentación de un caso. Revista ADM 2020;77(6): 329-336
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    12.	Bolaños-Morales F. E. Peña Gómez Portugal , et al. Single Porth Thoracoscopic Surgery In Pleural Effusion. CHEST 2019;15584). Doi: 10.1016/j.chest.2019.02.057
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    13.	Bolaños-Morales F. E. Peña Gómez Portugal , et al. Thromboembolic risk in thoracic surgery patients. CHEST 2019;153A. Doi: 10.1016/j.chest.2019.02.283.
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    14.	Bolaños-Morales F., E. Peña Gómez Portugal,et al. Solitary Fibrous Tumor of the Pleura guided by thoracoscopy. CHEST 2019;154:39A. Doi: 10.1016/j.chest.2019.02.058
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    15.	Bolaños-Morales F., E. Peña Gómez Portugal,et al. Malignant Mesothelioma without the risk related to asbestos.. CHEST 2019;153A. Doi: 10.1016/j.chest.2019.02.147
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    16.	Bolaños-Morales F. Santiago Mier y Terán E, et al. Posterior Mediastinal Hemangioma: Case Report and Literature review. CHEST 2018;(154):39A-39ª. Doi: 10.1016/j.chest.2018.08.036
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    17.	Bolaños-Morales F Francisco Ulises Pastor Sifuentes, et al. Follicular Dendritic cell sarcoma in the Posterior mediastinum.CHEST2018 (154);38A-39ª. Doi: 10.1016/j.chest.2018.08.034
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    18.	Bolaños-Morales F., Gómez-Portugal E, et al. Lung necrosectomy in pediatric patients with necrotizing pneumonia. Gen Thorac Cardiovasc Surg. 2018 Mar;66(3):155-160.
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    19.	Bolaños-Morales F., Herrera-Zamora J, Santillan-Doherty P, et al. Rare Esophageal Bronchogenic Cyst. 
                                    CHEST 2018;154 (4): p40A. Doi: 10.1016/j.chest.2018.08.037                             
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    20.	Bolaños-Morales F., Herrera-Zamora J, Santillan-Doherty P, et al. Biliopleural Fistula as a Complication in Mirizzi 
                                    Syndrome. CHEST 2018; 154 (4): p514A. Doi:  10.1016/j.chest.2018.08.467
                              
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    21.	Bolaños-Morales F., Carrera-Ceron R, Herrera-Zamora J, et al. Surgical Treatment and Adjunctive Therapy in Thymic 
                                    Epithelial Neoplasms: Evaluation of Outcomes in a Long-Term Follow-Up. CHEST 2017; 152 (4): A56. Doi:
                                   10.1016/j.chest.2017.08.085
                             
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    22.	Bolaños-Morales F., Gómez-Portugal E, et al. Awake Thoracic Surgery a Feasible procedure in High Respiratory Risk. CHEST2017;49ª-50ª. Doi: 10.1016/j.chest.2017.08079
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    23.	Bolaños F., Ponce de León Guillermo, Pérez Rafael, Mata Yadira , Patricio Santillán Doherty, Julio Herrera . Mediastinal glomus tumor resected by thoracoscopy. CHEST 2016: 146;637-638. doi:10.1016/j.chest.2016.08.637 
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    24.	Bolaños F; , Mercado Días Miguel Ángel, Medina Franco Heriberto, Santillán  Doherty Patricio, Dagho Domínguez Olguín. Crucifix foreing body in the middle third of esophagus: A case report CHEST 2016: 146; 63-64. doi:10.1016/j.chest.2016.08.064 
                                </li>       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    25.	Bolaños F., Cardona C., Rojo A., Argote LM., Santillán P. “Rare Case of Pilomatrixoma of the Upper Chest”. CHEST  
                                    2014: 145 (3) 293A. doi: 10.1378/chest.1835741                              
                                </li>       

                            </ul>
                        </div> 

                        <div class="col-lg-6 col-6">
                            <ul class="about-list">
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    26.	Bolaños F., Santillán P., Argote LM., Aguilar M., Santibañez J., Ortíz MS. “Lung Necrosectomy in Pediatric Patients 
                                    With Necrotizing Pneumonia”. CHEST 2014: 145 (3) 454A. doi: 10.1378/chest.1729274
                              
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    27.	Bolaños F., Argote LM., Ponce de León G., Jiménez ML., Torres A., Dorantes R., Garza R., Herrera O., Santillán P.  
                                    “Schwannoma Arising From the Left Phrenic Nerve: A Rare Location” CHEST 2013: 142 (5) 92A. doi:      
                                    10.1378/chest.1658307
                              
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    28.	Bolaños F., Santillán P., Pena Emmanuel., Herrera J., Morales M., Argote LM. “Thymoma and Good Syndrome” 
                                    CHEST 2013: 142 (5) 96A. doi:10.1378/chest.1702491
                              
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    29.	Bolaños F., Luna H., Collura S., Herrera-Zamora J., Argote L.M. “Mixed Minimal Access Techniques for Giant 
                                    Mediastinal Resection” CHEST 2012; 142 (4): 46A. doi:10.1378/chest.1387244
                              
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    30.	Bolaños F. “ Correlación de CD4 y Neumonía por Pneumocystis jiroveci en Pacientes Infectados por VIH y con 
                                    Neumotórax”. Revista Respirar 5-7 Congreso ALAT 2012.
                              
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    31.	Bolaños F.  “Manejo de Estenosis Traqueal Adquirida y Primer Trimestre de Embarazo. Revista Respirar 5-7 Congreso ALAT 2012.
                                </li>              
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    32.	 Bolaños F. “Presentación Inusual de Neurofibromatosis Tipo 1 en Tórax. Presentación de caso”. Revista Respirar 5-7 Congreso ALAT 2012.
                                </li>     
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    33.	Bolaños F. “Procalcitonina Semicuantitativa y Score de SOFA y APACHE en el Pronóstico de Pacientes con Mediastinitis”. Revista Respirar 5-7 Congreso ALAT 2012.
                                </li>     
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    34.	Bolaños F.  “Técnica de Metastasectomía Pulmonar en Pacientes Pediátricos. Reporte de cuatro casos”. Revista Respirar 5-7 Congreso ALAT 2012.
                                </li>     
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    35.	Bolaños F.  “Técnica de Necrosectomía Pulmonar en Pacientes Pediátricos con Neumonía Necrotizante”. Revista Respirar 5-7 Congreso ALAT 2012.
                                </li>     
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    36.	Bolaños F.  “Combinación de Linfoma Primario de Tiroides, Carcinoma Papilar y Tiroiditis de Hashimoto”. Revista Respirar 5-7 Congreso ALAT 2012.
                                </li>     
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    37.	Peña E., Solano LN., Bolaños F., Tellez BJ. “Usefulness of Thoracoscopy in Thoracic Tumors: Diagnosis, Staging and Therapeutic” Revista del XIII World Congress of Endoscopic Surgery / XXI International Congress of Mexican Association of Endoscopic Surgery / X Latin American Congress of Endoscopic Surgery 2012.
                                </li>     
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    38.	Peña E., Solano LN., Bolaños F. “Institutional Experience in a Group of Surgeons in the Managementt of pneumothorax by Thoracoscopy” Revista del XIII World Congress of Endoscopic Surgery / XXI International Congress of Mexican Association of Endoscopic Surgery / X Latin American Congress of Endoscopic Surgery 2012.
                                </li>     
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    39.	Bolaños F.  “Técnica de necrosectomía pulmonar en pacientes con neumonías necrotizante”. Libro de Resúmenes del Congreso Nacional de Neumología y Cirugía de Tórax 2012.
                                </li>                       
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    40.	Bolaños F.  “Combinación excepcional de linfoma primario del tiroides, carcinoma papilar y Hashimoto”. Libro de Resúmenes del Congreso Nacional de Neumología y Cirugía de Tórax 2012.
                                </li>     
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    41.	Bolaños F.  “Manejo de Estenosis traqueal y primer trimestre de embarazo” Libro de Resúmenes del Congreso Nacional de Neumología y Cirugía de Tórax 2012.
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    42.	Bolaños F.  “Correlación de CD4 y neumotórax con neumonía por neumocystis jirovecci en pacientes infectados por virus de inmunodeficiencia humana”. Libro de Resúmenes del Congreso Nacional de Neumología y Cirugía de Tórax 2012.
                                </li>    
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    43.	Bolaños F.  “Reto quirúrgico . Liposarcoma torácico recidivante con infiltración  a cavidad abdominal”. Libro de Resúmenes del Congreso Nacional de Neumología y Cirugía de Tórax 2012.
                                </li>    
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    44.	Bolaños F.  “Gammagrama pulmonar ventilatoria- perfusión con spect-ct en dos pacientes con malformación congénita del tórax”. Libro de Resúmenes del Congreso Nacional de Neumología y Cirugía de Tórax 2012.
                                </li>    
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    45.	Bolaños F.  “Técnica de Metastasectomía pulmonar en pacientes pediátricos”. Libro de Resúmenes del Congreso Nacional de Neumología y Cirugía de Tórax 2012.
                                </li>         
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    46.	Bolaños F.  “Caso inusual de hernia paracaval en la edad pediátrica. Reporte de un caso”. Libro de Resúmenes del Congreso Nacional de Neumología y Cirugía de Tórax 2012.
                                </li>    
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Bolaños F.  “Manejo quirúrgico de fístulas adquiridas no malignas en un período de 6 años en el INER”. Libro de Resúmenes del Congreso Nacional de Neumología y Cirugía de Tórax 2011.
                                </li>    
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    48.	Bolaños F.  “Fístula arteriovenosa del pulmón congénita y trombosis del seno coronal. Abordaje quirúrgico. Reporte de Caso”. Libro de Resúmenes del Congreso Nacional de Neumología y Cirugía de Tórax 2011.
                                </li>    
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    49.	Bolaños F.  “Cirugía cardiaca con circulación extracorpórea y resección del cáncer pulmonar. Influencia en la morbilidad quirúrgica y supervivencia en el INER.” Libro de Resúmenes del Congreso Nacional de Neumología y Cirugía de Tórax 2011.
                                </li>    
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    50.	Bolaños F.  “Tumor carcinoide de  la tráquea. Reporte de Caso y revisión de literatura”. Libro de Resúmenes del Congreso Nacional de Neumología y Cirugía de Tórax 2011.
                                </li>    
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    51.	Bolaños F.  “Desarrollo evolutivo en la sustitución de la tráquea”. Libro de Resúmenes del Congreso Nacional de Neumología y Cirugía de Tórax 2011.
                                </li>    
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    52.	Bolaños F.  “Cirugía de Invasión y Nuevas Tecnologías I”. Libro de Resúmenes del Congreso Nacional de Neumología y Cirugía de Tórax 2011.
                                </li>    
                            </ul>
                        </div> 

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>