<footer class="footer-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-sm-6">
                <div class="single-footer-widget">
                    <h2>
                        <a routerLink="/">
                            Dra. Bolaños
                        </a>
                    </h2>
                    <p> Cirujana Cardiotorácica.</p>
                    <!-- <div class="signature">
                        <img src="assets/images/footer/signature.png" alt="signature-image">
                    </div> -->
                    <div class="footer-info">
                        <img src="assets/images/home/home_trayectoria.png" alt="footer-image">
                        <h4>Dr. Francina Valezka Bolaños Morales</h4>
                        <!-- <span>CEO & Founder</span> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-6">
                <div class="single-footer-widget ps-5">
                    <h3>Enlaces</h3>
                    <ul class="quick-links">
                        <li>
                            <a routerLink="/">Inicio{{ 'nav.inicio' | translate }}</a>
                        </li>
                        <li>
                            <a routerLink="/about-one">Trayectoria{{ 'nav.trayectoria' | translate }}</a>
                        </li>
                        <li>
                            <a routerLink="/publicaciones">Publicaciones{{ 'nav.publicaciones' | translate }}</a>
                        </li>
                        <li>
                            <a routerLink="/afiliaciones">Afiliaciones{{ 'nav.afiliaciones' | translate }}</a>
                        </li>
                        <li>
                            <a routerLink="/servicios">Patologías{{ 'nav.patologias' | translate }}</a>
                        </li>
                        <li>
                            <a routerLink="/procedimientos">Procedimientos{{ 'nav.procedimientos' | translate }}</a>
                        </li>
                        <li>
                            <a routerLink="/cirugia">Cirugía Robótica{{ 'nav.cirugia' | translate }}</a>
                        </li>
                        <li>
                            <a routerLink="/contacto">Contacto{{ 'Contacto' | translate }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="single-footer-widget">
                    <h3>News & Blog</h3>
                    <div class="footer-widget-blog">
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb">
                                <span class="fullimage" role="img" style="background-image: url(assets/images/footer/footer-2.jpg);"></span>
                            </a>
                            <div class="info">
                                <span>By <a routerLink="/blog-grid">Daisy Gabriela</a></span>
                                <h4><a routerLink="/blog-details">Dental Hygiene for Children</a></h4>
                            </div>
                        </article>
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb">
                                <span class="fullimage" role="img" style="background-image: url(assets/images/footer/footer-3.jpg);"></span>
                            </a>
                            <div class="info">
                                <span>By <a routerLink="/blog-grid">Ronnie Aaron</a></span>
                                <h4><a routerLink="/blog-details">Regular Checkup for Good Teeth</a></h4>
                            </div>
                        </article>
                        <article class="item">
                            <a routerLink="/blog-details" class="thumb">
                                <span class="fullimage" role="img" style="background-image: url(assets/images/footer/footer-4.jpg);"></span>
                            </a>
                            <div class="info">
                                <span>By <a routerLink="/blog-grid">Babatunde Jon</a></span>
                                <h4><a routerLink="/blog-details">Teeth Whitening is Now Popular</a></h4>
                            </div>
                        </article>
                    </div>
                </div>
            </div> -->
            <div class="col-xl-4 col-lg-4 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Información de Contacto</h3>
                    <ul class="footer-information">
                        <li>
                            <i class="flaticon-039-emergency-call"></i>
                            Llamanos
                            <span><a href="tel:088123654987">+52 777 22 781 22</a></span>
                        </li>
                        <li>
                            <i class="flaticon-040-back-in-time"></i>
                            Horario
                            <span>09:00 AM a 18:00 PM</span>
                        </li>
                        <li>
                            <i class="flaticon-041-placeholder"></i>
                            Locación
                            <span>Ciudad de México</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>