<!-- Default About Section -->
<div class="about-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="about-content">
                    <span class="sub-title">
                        <i class="flaticon-198-hashtag-1"></i>
                        <!-- Nombramientos -->
                        {{ 'nombramientos.title' | translate }}
                    </span>
                    <h3>
                        <span>{{ 'nombramientos.title' | translate }}</span>
                    </h3>
                    <p>

                    </p>
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <ul class="about-list">
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'nombramientos.1' | translate }}
                                    <!-- - Profesora Titular del Curso de Especialización en Cirugía Cardiotorácica. 24 de agosto, 2022 -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'nombramientos.2' | translate }}
                                    <!-- - Revisor editorial. Neumología y Cirugía de tórax. Desde 2019 a la fecha  -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'nombramientos.3' | translate }}
                                    <!-- - Responsable del subcomité de trasplante de corazón pulmón. Hospital Ángeles Pedregal. 2019 a la fecha  -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'nombramientos.4' | translate }}
                                    <!-- - Subdirectora de Cirugía. Instituto Nacional de Enfermedades Respiratorias Ismael Cosío Villegas. 2019 a la fecha  -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'nombramientos.5' | translate }}
                                    <!-- - Presidenta del Capítulo de Tórax de la Asociación Mexicana de Cirugía Robótica de 2018 a la fecha.  -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'nombramientos.6' | translate }}
                                    <!-- - Coordinadora del comité científico de la Asociación Mexicana de Cirugía Robótica (AMCIR) 2019  -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'nombramientos.7' | translate }}
                                    <!-- - Mesa directiva de la Asociación Mexicana de Cirugía Robótica de 2018 a la fecha.  -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'nombramientos.8' | translate }}
                                    <!-- - Jefe de Cirugía Cardiotorácica INNSZ 2014 – Abril  del 2019.  -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'nombramientos.9' | translate }}
                                    <!-- - Coordinadora. II Congreso Médico “ Tecnología y Vanguardia al Servicio de la Salud”.  Hospital Ángeles Acoxpa. Ciudad de México  (México) 2015. -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'nombramientos.10' | translate }}
                                    <!-- - Jefa de Enseñanza de La Sociedad Médica HAA 2013-2014  -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'nombramientos.11' | translate }}
                                    <!-- - Vocal del Comité de Enseñanza. Hospital Ángeles Acoxpa. Ciudad de México  (México) 2014.  -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'nombramientos.12' | translate }}
                                    <!-- - Vocal del Comité de Morbimortalidad del INNSZ 2015 a la fecha  -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'nombramientos.13' | translate }}
                                    <!-- - Presidente de División de Cirugía. LXXIII Congreso Nacional de Neumología y Cirugía de Tórax. Querétaro (México) 2014. -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'nombramientos.14' | translate }}
                                    <!-- - Secretario de Simposio. LXX Congreso Nacional de Neumología y Cirugía de Tórax. Puebla (México) 2011. -->
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="about-image">
                    <img src="assets/images/about/about-1.jpg" alt="about-image">
                </div>
            </div>
        </div>
    </div>
</div>







<!-- Default About Section -->
<div class="about-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="about-content">
                <span class="sub-title">
                    <i class="flaticon-198-hashtag-1"></i>
                    <!-- Distinciones -->
                    {{ 'distinciones.title' | translate }}
                </span>
                <h3>
                    <span>{{ 'distinciones.title' | translate }}</span>
                </h3>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <ul class="about-list">
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.1' | translate }}
                                    <!-- Reconocimiento al Mérito Médico 2020.Dra. Rocío Chapela Mendoza. 2020 -->
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.2' | translate }}
                                    <!-- Tercer Lugar. Congreso Mexicano de Anestesiología. (México) 2018. -->
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.3' | translate }}
                                    <!-- Primer Lugar. Plan Único de Especializaciones Médicas de Cirugía Cardiotorácica. (México) 2012. -->
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.4' | translate }}
                                    <!-- Tercer Lugar en Trabajos Libres. LXX Congreso Nacional de Neumología y Cirugía de Tórax. Puebla (México)  -->
                                    <!-- 2011 -->
                                    
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.5' | translate }}
                                    <!-- Primer Lugar. Plan Único de Especializaciones Médicas de Cirugía Cardiotorácica. (México) 2011. -->
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.6' | translate }}
                                    <!-- Primer Lugar. Plan Único de Especializaciones Médicas de Cirugía Cardiotorácica. (México) 2010. -->
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.7' | translate }}
                                    <!-- Primer Lugar. Plan Único de Especializaciones Médicas de Cirugía Cardiotorácica. (México) 2009. -->
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.8' | translate }}
                                    <!-- Mención Honorífica en Cirujano General. Universidad Autónoma de Nicaragua. Managua (Nicaragua) 2002-2006. -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <ul class="about-list">
                               
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.9' | translate }}
                                    <!-- Primer Lugar de Cirugía. Laboratorios López. Managua (Nicaragua) 2006. -->
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.10' | translate }}
                                    <!-- Primer lugar en el XXXVII Congreso Médico  Nacional de Cirugía. (Nicaragua) 2002. -->
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.11' | translate }}
                                    <!-- Primer lugar de Trabajo libre en el X Congreso de Cirugía de Centroamérica y Panamá. (Nicaragua) 2002. -->
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.12' | translate }}
                                    <!-- Primer lugar de Trabajo libre en el X Congreso de Cirugía de Centroamérica y Panamá. (Nicaragua) 2002. -->
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.13' | translate }}
                                    <!-- Beca parcial por logros académicos en Doctor en Medicina  y Cirugía. Managua (Nicaragua) 2000.    -->
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.14' | translate }}
                                    <!-- Graduada con alta distinción en Doctor en Medicina  y Cirugía. Managua (Nicaragua) 2000.    -->
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.15' | translate }}
                                    <!-- Primer lugar en la jornada Científica del Hospital  Militar y en el Congreso Científico de estudiantes de  -->
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    {{ 'distinciones.16' | translate }}
                                    <!-- Medicina en Guatemala SOCIEM-UAM.  (Guatemala) 2000.                      -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>