<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>
                {{ 'procedimientos.title' | translate }}
            </h2>
            <ul class="pages-list">
                <li><a routerLink="/">{{ 'nav.inicio' | translate }}</a></li>
                <li>{{ 'procedimientos.title' | translate }}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Services -->
<div class="services-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-1.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-146-dentist-chair"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.1.1' | translate }}
                                <!-- Broncoscopía -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.1.2' | translate }}
                            <!-- Examen visual de las vías respiratorias. -->
                            <br><br><br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-2.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-153-dental-care"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.2.1' | translate }}
                                <!-- Cirugía Robótica torácica -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.2.2' | translate }}
                            <!-- Procedimiento quirúrgico asistido por robot para tratar trastornos torácicos complejos -->
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-3.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-154-dental-implant"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.3.1' | translate }}
                                <!-- Decorticación pulmonar -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.3.2' | translate }}
                            <!-- Cirugía para eliminar la capa fibrosa que recubre los pulmones. -->
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-4.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-155-tooth-1"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.4.1' | translate }}
                                <!-- Fibrobroncoscopía -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.4.2' | translate }}
                            <!-- Examen de las vías respiratorias con un broncoscopio flexible. -->
                            <br><br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-5.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-152-tooth"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.5.1' | translate }}
                                <!-- Laringo-traqueoplastía -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.5.2' | translate }}
                            <!-- Procedimiento para reconstruir estrechamiento de laringe o tráquea. -->
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.6.1' | translate }}
                                <!-- Lobectomía -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.6.2' | translate }}
                            <!-- Cirugía para extirpar un lóbulo del pulmón. -->
                            <br><br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.7.1' | translate }}
                                <!-- Mediastinoscopía -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.7.2' | translate }}
                            <!-- Examen del mediastino a través de un tubo delgado con luz. -->
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.8.1' | translate }}
                                <!-- Pleurectomía -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.8.2' | translate }}
                            <!-- Cirugía para extirpar una parte de la pleura (membrana que cubre los pulmones). -->
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.9.1' | translate }}
                                <!-- Pleurodesis -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.9.2' | translate }}
                            <!-- Procedimiento para unir las capas pleurales para prevenir la acumulación de líquido. -->
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.10.1' | translate }}
                                <!-- Reconstrucción pared torácica -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.10.2' | translate }}
                            <!-- Cirugía para reparar una pared torácica dañada. -->
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.11.1' | translate }}
                                <!-- Resección pulmonar -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.11.2' | translate }}
                            <!-- Cirugía para extirpar una parte del pulmón. -->
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.12.1' | translate }}
                                <!-- Resección de tumores de mediástino -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.12.2' | translate }}
                            <!-- Cirugía para extirpar tumores del mediastino. -->
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.13.1' | translate }}
                                <!-- Segmentectomía -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.13.2' | translate }}
                            <!-- Cirugía para extirpar un segmento del pulmón. -->
                            <br><br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.14.1' | translate }}
                                <!-- Simpatectomía -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.14.2' | translate }}
                            <!-- Procedimiento para interrumpir los nervios que controlan la sudoración excesiva. -->
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.15.1' | translate }}
                                <!-- Tratamiento anomalías congénitas -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.15.2' | translate }}
                            <!-- Cirugía para corregir malformaciones del tórax. -->
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.16.1' | translate }}
                                <!-- Timectomía -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.16.2' | translate }}
                            <!-- Cirugía para extirpar el timo (glándula linfática) del tórax. -->
                            <br><br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.17.1' | translate }}
                                <!-- Toracocentésis -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.17.2' | translate }}
                            <!-- Procedimiento para drenar líquido del espacio pleural. -->
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.18.1' | translate }}
                                <!-- Toracoscopía -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.18.2' | translate }}
                            <!-- Examen visual de la cavidad torácica con un instrumento endoscópico. -->
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.19.1' | translate }}
                                <!-- Toracotomía -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.19.2' | translate }}
                            <!-- Cirugía para acceder al tórax y reparar los órganos torácicos. -->
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.20.1' | translate }}
                                <!-- Traqueoplastía -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.20.2' | translate }}
                            <!-- Cirugía para reconstruir la tráquea. -->
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                {{ 'procedimientos.22.1' | translate }}
                                <!-- Traqueostomía -->
                            </a>
                        </h3>
                        <p>
                            {{ 'procedimientos.22.2' | translate }}
                            <!-- Creación de una abertura en la tráquea para facilitar la respiración. -->
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="pagination-area">
                    <span class="prev page-numbers" disabled>
                        <i class='flaticon-015-left-arrow'></i>
                    </span>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/services-3" class="page-numbers">2</a>
                    <a routerLink="/services-3" class="page-numbers">3</a>
                    <a routerLink="/services-3" class="page-numbers">4</a>
                    <a routerLink="/services-3" class="page-numbers">5</a>
                    <a routerLink="/services-3" class="next page-numbers">
                        <i class='flaticon-014-right-arrow'></i>
                    </a>
                </div>
            </div> -->
        </div>
    </div>
</div>