<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Dental Services</h2>
            <ul class="pages-list">
                <li><a href="index.html">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</div>

<!-- Services -->
<div class="services-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-1.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-146-dentist-chair"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Broncoscopía
                            </a>
                        </h3>
                        <p>
                            Examen visual de las vías respiratorias.
                            <br><br><br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-2.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-153-dental-care"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Cirugía Robótica torácica
                            </a>
                        </h3>
                        <p>
                            Procedimiento quirúrgico asistido por robot para tratar trastornos torácicos complejos
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-3.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-154-dental-implant"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Decorticación pulmonar
                            </a>
                        </h3>
                        <p>
                            Cirugía para eliminar la capa fibrosa que recubre los pulmones.
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-4.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-155-tooth-1"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Fibrobroncoscopía
                            </a>
                        </h3>
                        <p>
                            Examen de las vías respiratorias con un broncoscopio flexible.
                            <br><br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-5.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-152-tooth"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Laringo-traqueoplastía
                            </a>
                        </h3>
                        <p>
                            Procedimiento para reconstruir estrechamiento de laringe o tráquea.
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Lobectomía
                            </a>
                        </h3>
                        <p>
                            Cirugía para extirpar un lóbulo del pulmón.
                            <br><br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Mediastinoscopía
                            </a>
                        </h3>
                        <p>
                            Examen del mediastino a través de un tubo delgado con luz.
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Pleurectomía
                            </a>
                        </h3>
                        <p>
                            Cirugía para extirpar una parte de la pleura (membrana que cubre los pulmones).
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Pleurodesis
                            </a>
                        </h3>
                        <p>
                            Procedimiento para unir las capas pleurales para prevenir la acumulación de líquido.
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Reconstrucción pared torácica
                            </a>
                        </h3>
                        <p>
                            Cirugía para reparar una pared torácica dañada.
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Resección pulmonar
                            </a>
                        </h3>
                        <p>
                            Cirugía para extirpar una parte del pulmón.
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Resección de tumores de mediástino
                            </a>
                        </h3>
                        <p>
                            Cirugía para extirpar tumores del mediastino.
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Segmentectomía
                            </a>
                        </h3>
                        <p>
                            Cirugía para extirpar un segmento del pulmón.
                            <br><br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Simpatectomía
                            </a>
                        </h3>
                        <p>
                            Procedimiento para interrumpir los nervios que controlan la sudoración excesiva.
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Tratamiento anomalías congénitas
                            </a>
                        </h3>
                        <p>
                            Cirugía para corregir malformaciones del tórax.
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Timectomía
                            </a>
                        </h3>
                        <p>
                            Cirugía para extirpar el timo (glándula linfática) del tórax.
                            <br><br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Toracocentésis
                            </a>
                        </h3>
                        <p>
                            Procedimiento para drenar líquido del espacio pleural.
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Toracoscopía
                            </a>
                        </h3>
                        <p>
                            Examen visual de la cavidad torácica con un instrumento endoscópico.
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Toracotomía
                            </a>
                        </h3>
                        <p>
                            Cirugía para acceder al tórax y reparar los órganos torácicos.
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Traqueoplastía
                            </a>
                        </h3>
                        <p>
                            Cirugía para reconstruir la tráquea.
                            <br><br>
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Traqueostomía
                            </a>
                        </h3>
                        <p>
                            Creación de una abertura en la tráquea para facilitar la respiración.
                        </p>
                        <!-- <a routerLink="/service-details" class="default-btn">Read More</a> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="pagination-area">
                    <span class="prev page-numbers" disabled>
                        <i class='flaticon-015-left-arrow'></i>
                    </span>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/services-3" class="page-numbers">2</a>
                    <a routerLink="/services-3" class="page-numbers">3</a>
                    <a routerLink="/services-3" class="page-numbers">4</a>
                    <a routerLink="/services-3" class="page-numbers">5</a>
                    <a routerLink="/services-3" class="next page-numbers">
                        <i class='flaticon-014-right-arrow'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>