<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Trayectoria</h2>
            <ul class="pages-list">
                <li><a href="index.html">Inicio</a></li>
                <li>Trayectoria</li>
            </ul>
        </div>
    </div>
</div>


<!-- Dentist Details -->
<div class="dentist-details-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="dentist-details-image">
                    <img src="assets/images/home/home_trayectoria.png" alt="image">
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="dentist-details-content">
                    <h3 style="color:#ee608a; font-size: 34px;">Dr. Francina Valezka Bolaños Morales</h3>
                    <span class="designation">Cédula Profesional: 7605124</span>
                    <div class="share-link">
                        <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>
                        <a href="https://twitter.com/?lang=en" target="_blank"><i class='bx bxl-twitter'></i></a>
                        <a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin'></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a>
                    </div>
                    <!-- <div class="content-overview">
                        <p><span>Qualification:</span> MDS, BDS - Periodontology and Oral Implantology, 5 Years Experience</p>
                        <p><span>Certification:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <p><span>Professional Skills:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <p><span>Education:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <p><span>Awards:</span> National Specialist Register in Dental</p>
                    </div> -->
                    <p style="text-align: justify; margin-top: 10px;">
                        La Dra. Francina Bolaños obtuvo su título como Cirujana Cardiotorácica por parte de la UNAM y cursado en el Instituto Nacional de Enfermedades Respiratorias (INER), en el año 2012.  Desde el momento de su graduación y hasta la fecha la Dra. Bolaños ha continuado con la adquisición y aplicación de nuevos conocimientos como lo demuestran sus diversas certificaciones entre las que destacan la subespecialidad en Cirugía Toracoscópica (Instituto de Nacional de Ciencias Médica y Nutrición Salvador Zubirán, INCMNSZ) y la certificación como Cirujana de Consola del Sistema “da Vinci” (Cirugía Robótica) por parte del Intuitive Surgical ubicado en California, U.S.A. Esta última certificación la convirtió en la primera mujer en México autorizada por esta institución para realizar operaciones robóticas en el país.
                    </p>
                </div>
            </div>
        </div>
        <div class="dentist-details-overview-content">
            <p>
                Desde el 2014, la Dra. Bolaños es la jefa del Servicio de Cirugía de Tórax en el Instituto Nacional de Nutrición (INCMNSZ), en donde también se desempeña como Profesora Titular del Curso de Alta Especialidad en Toracoscopía.  También en el ámbito docente, la doctora es Profesora asociada del Foro Mexicano de Innovación Quirúrgica FOMIQ y Profesora adjunta del curso de Cirugía General (INCMNSZ), ha realizado numerosos trabajos de investigación, ha fungido como tutora de tesis de graduación de estudiantes de medicina, ha publicado varios capítulos de libros y numerosas publicaciones en revistas médicas y carteles. Así mismo ha presentado sus trabajos en cerca de 30 Congresos y talleres. (favor revisar la sección “Publicaciones” para mayor detalle). 
            </p>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="details-overview-image">
                        <img src="assets/images/trayectoria/1.png" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="details-overview-image">
                        <img src="assets/images/trayectoria/2.png" alt="image">
                    </div>
                </div>
            </div>
            <div class="overview-text">
                <p>
                    Durante su carrera, ha recibido varias distinciones, dentro de las cuales destacan ser la mejor residente de su subespecialidad en el INER en el período 2009-2012, obtener Mención Honorífica como Cirujano General por parte de la Universidad Autónoma de Nicaragua y graduarse con Alta Distinción como Doctor en Medicina y Cirugía en la Universidad Autónoma de Managua.  Así mismo, la Dra. Bolaños tiene bajo su responsabilidad ser la Primer Presidenta del capítulo México de Cirugía Torácica Robótica (período 2018-2019).
                </p>
                <p>
                    En el ámbito privado, la Dra. Bolaños atiende en el Hospital Médica Sur, los hospitales del Grupo Ángeles y del Grupo San Angel Inn, el Centro Médico ABC, Hospital Dalinde, HMG Coyoacán, Star Médica, entre otros.
                </p>
            </div>
        </div>
    </div>
</div>









<!-- Testimonials -->
<!-- <div class="review-area pb-75"  >
    <div class="container">

        <h1 style="margin-bottom: 20px; color:#ee608a">Formación académica</h1>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                  
                    <h3>
                        Postgrado Cirugía Robótica
                        <br><br>
                    </h3>
                    <div class="review-info" style="padding-left: 0;">
                        <h3>Universidad de Sao Paulo</h3>
                        <span style="color:#ee608a"> 2021-2022</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    
                    <h3>Diplomado en Gerencia de Hospitales e Instituciones de la Salud</h3>
                    <div class="review-info" style="padding-left: 0;">
                        
                        <h3> INCAE, Business School.  Costa Rica.</h3>
                        <span style="color:#ee608a">2021</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    
                    <h3>Cirugía Robótica <br><br><br></h3>
                    <div class="review-info" style="padding-left: 0;">
                     
                        <h3>Intuitive Surgical  (E.U.A.)</h3>
                        <span style="color:#ee608a">2017</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    
                    <h3>Cirugía Toracoscópica 
                        - CP: 7605124
                        - Consejo: 332
                    </h3>
                    <div class="review-info" style="padding-left: 0;">
                        
                        <h4 style="font-size: 15px; font-weight: 500;">Universidad Nacional Autónoma de México (México)
                            Instituto Nacional de Ciencias Médicas y Nutrición Salvador Zubirán (México)
                            </h4>
                        <span style="color:#ee608a">2012-2013 <br><br></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    
                    <h3>
                        Broncoscopia Diagnóstica Terapéutica en Adultos y Niños
                    </h3>
                    <div class="review-info" style="padding-left: 0;">
                       
                        <h3>Instituto Nacional de Enfermedades Respiratorias (México)</h3>
                        <span style="color:#ee608a">2008-2012</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                 
                    <h3>
                        Cirugía Cardiotorácica
                        <br><br>
                    </h3>
                    <div class="review-info" style="padding-left: 0;">
                       
                        <h4 style="font-size: 15px; font-weight: 500; ">Universidad Nacional Autónoma de México (México)
                            Instituto Nacional de Enfermedades Respiratorias (México)
                            Cédula profesional mexicana 7605124
                            Consejo de cirugía de tórax 332
                            Distinción Honorífica
                            </h4>
                        <span style="color:#ee608a">2008-2012 <br><br></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                 
                    <h3>
                        Cirujano General
                        - CP: 6982707
                        - Consejo Mexicano
                    </h3>
                    <div class="review-info" style="padding-left: 0;">
                       
                        <h3 style="font-size: 18px; font-weight: 500;">Universidad Autónoma de Nicaragua (Nicaragua)            
                            Cédula profesional mexicana 6982707
                            Consejo Mexicano de Cirugía General
                            </h3>
                        <span style="color:#ee608a"> 2002-2006</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                  
                    <h3>
                        Doctor en Medicina  y Cirugía   
                        - CP: 6967022            
                        <br><br>

                    </h3>
                    <div class="review-info" style="padding-left: 0;">
                       
                        <h3>Universidad Americana (UAM) 
                            Cédula profesional Mexicana  6967022
                            
                            </h3>
                        <span style="color:#ee608a"> 1994-2000</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
            
                    <h3>
                        Bachillerato en Ciencias y Letras
                        <br><br>
                    </h3>
                    <div class="review-info" style="padding-left: 0;">
                       
                        <h3>
                            Colegio Santa Teresita 
                            Graduada con alta distinción
                            Masaya, Nicaragua.
                        </h3>
                        <span style="color:#ee608a">1983-1993</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> -->

<app-about-seven></app-about-seven>

<app-about-two></app-about-two>

<app-about-three></app-about-three>

<app-about-four></app-about-four>

<app-about-five></app-about-five>

<app-about-six></app-about-six>