<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Cirugía Robotica</h2>
            <ul class="pages-list">
                <li><a href="index.html">Inicio</a></li>
                <li>Cirugía Robotica</li>
            </ul>
        </div>
    </div>
</div>

<!-- How Vaccines Work -->
<div class="how-vaccines-work-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="how-vaccines-work-desc">
                    <div class="content">
                        <h3>
                            Primer Cirujana de Robótica de Tórax en México
                        </h3>
                        <p>
                            La Dra. Francina Bolaños y su equipo obtuvieron su certificación como Cirujanos de la Consola del Sistema Da Vinci  en la sede del Intuitive Surgical, ubicada en California, U.S.A., en el año 2017.
                            <br><br>
                            Esta certificación incluyó una rotación por NYU (New York University, U.S.A.) con los doctores mas calificados en su ramo.  
                            <br><br>
                            Esto la convirtió en la primer cirujana robótica certificada que realiza operaciones de Tórax en México.
                            <br><br>
                            Actualmente, la Dra. Bolaños es la Presidenta del Capítulo México de Cirugía Torácica Robótica.
                        </p>

                    </div>
                    <div class="how-vaccines-work-image">
                        <img src="assets/images/covid/how-vaccines-work.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>Cirugía robótica</h3>
                        <p>
                            La cirugía robótica es una técnica quirúrgica avanzada que utiliza robots controlados por un cirujano para realizar procedimientos quirúrgicos en pacientes. La historia de la cirugía robótica se remonta a la década de 1980, cuando se comenzaron a desarrollar robots quirúrgicos para ayudar a los cirujanos en procedimientos complejos.
                            <br><br>
                            El primer robot quirúrgico aprobado por la FDA (Administración de Alimentos y Medicamentos de EE. UU.) fue el Sistema de Cirugía Robótica Da Vinci, desarrollado por la compañía Intuitive Surgical. El Da Vinci se aprobó en 2000 y desde entonces ha sido utilizado en millones de procedimientos quirúrgicos en todo el mundo.
                            <br><br>
                            Los beneficios de la cirugía robótica son numerosos. Algunos de los principales beneficios incluyen:
                            <br><br>
                            Precisión: los robots quirúrgicos pueden realizar movimientos precisos y delicados que los cirujanos humanos no pueden realizar.
                            <br><br>
                            Menos dolor y tiempo de recuperación: debido a que los procedimientos robóticos son menos invasivos, los pacientes pueden experimentar menos dolor y recuperarse más rápidamente.
                            <br><br>
                            Menos cicatrices: los robots quirúrgicos pueden realizar incisiones más pequeñas que las necesarias en la cirugía tradicional, lo que significa que los pacientes pueden tener menos cicatrices.
                            <br><br>
                            Menos sangrado: los robots quirúrgicos pueden ser muy precisos, lo que significa que pueden reducir el riesgo de sangrado durante los procedimientos quirúrgicos.
                            <br><br>
                            Mayor seguridad: los robots quirúrgicos están diseñados para reducir el riesgo de errores humanos durante los procedimientos quirúrgicos.
                            <br><br>
                            Mayor eficiencia: los robots quirúrgicos pueden reducir el tiempo que los pacientes pasan en el hospital y el tiempo de recuperación.
                        </p>
                    </div>
                    <div class="bottom-content">
                        <a routerLink="/">Read Next Topic: "How are vaccines developed?”</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="how-vaccines-work-sidebar">
                    <div class="sidebar-box">
                        <h3>Related</h3>
                        <ul class="list">
                            <li>
                                <a routerLink="/">COVAX</a>
                            </li>
                            <li>
                                <a routerLink="/">COVID-19 Vaccines Multimeda</a>
                            </li>
                            <li>
                                <a routerLink="/">COVID-19</a>
                            </li>
                            <li>
                                <a routerLink="/">ACT-Accelerator</a>
                            </li>
                            <li>
                                <a routerLink="/">COVID-19 Vaccines</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-box">
                        <h3>Resources</h3>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FDra.Francina&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=572030817226132" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>