<!-- Default About Section -->
<div class="about-area pb-100">
    <div class="container">
        <div class="row align-items-center">
          
            <div class="col-lg-5 col-md-12">
                <div class="about-image">
                    <img src="assets/images/trayectoria/7.png" alt="about-image">
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="about-content"> 
                    <h3>
                        
                        <!-- <span>Trabajos de Investigación</span> -->
                    </h3>
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <ul class="about-list">
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    - Procalcitonina semicuantitativa versus score de SOFA y APACHE en el pronóstico de pacientes con mediastinitis en el INER. Distrito Federal (México) 2011
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    - Valor Pronóstico de la Procalcitonina Semicuantitativa  Versus los Criterios de Mannheim en Pacientes con Sepsis Intraabdominal. Managua, (Nicaragua) 2004-2005
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    - Prevalencia de Carcinoma in situ y Carcinoma infiltrante de mama en un periodo de 10 años en el Hospital Bautista. Managua, (Nicaragua) 2003-2004.
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    - Prevalencia de Enfermedades Hemorroidales en la Empresa Médica Provisional de Enero 1999 a Diciembre de 2002 en el Hospital Bautista. Managua, (Nicaragua) 2002
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    - Investigación sobre los Tumores de Colon y Recto diagnosticados en el Hospital Militar Escuela Alejandro Dávila Bolaños. Managua, (Nicaragua) 1999
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    - Investigación sobre el impacto en la salud del consumo de tomate y repollo con residuos de organofosforados. Managua, (Nicaragua) 1999
                                </li>
                                

                            </ul>
                        </div>
                         
                    </div>
                     
                </div>
            </div>
           
           

        </div>
    </div>
</div>