<!-- Default About Section -->
<div class="about-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="about-image">
                    <img src="assets/images/about/about-1.jpg" alt="about-image">
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="about-content"> 
                    <h3>
                        
                        <span>{{ 'docencia.title' | translate }}</span>
                    </h3>
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <ul class="about-list">
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'docencia.1' | translate }}
                                    <!-- - Profesor Titular del Curso de Post Grado de Cirugía Cardiotorácica. UNAM 2022  -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'docencia.2' | translate }}
                                    <!-- - Profesor Adjunto del curso de Post Grado de Cirugía Cardiotorácica. UNAM 2019 al 2021 -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'docencia.3' | translate }}
                                    <!-- - Profesor de la Escuela de Medicina de ITESM 2015 a la fecha -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'docencia.4' | translate }}
                                    <!-- - Profesor Titular de Curso de Alta Especialidad, Toracoscopia. UNAM 2015 a la fecha -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'docencia.5' | translate }}
                                    <!-- - Profesor adjunto del curso de  Cirugía General del INNSZ de 2015 -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'docencia.6' | translate }}
                                    <!-- - Cirugía Diagnóstica: BPCA y Toracoscopía. Instituto Nacional de Enfermedades Respiratorias, 2011 -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'docencia.7' | translate }}
                                    <!-- - Exploración física del aparato Respiratorio. Instituto Nacional de Enfermedades Respiratorias, 2011 -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'docencia.8' | translate }}
                                    <!-- - Trascendencia del Tratamiento Quirúrgico en el Paciente con Pectus Excavatum. Instituto Nacional de Enfermedades Respiratorias, 2010 -->
                          
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'docencia.9' | translate }}
                                    <!-- - Neumonías y Complicaciones. Instituto Nacional de Enfermedades Respiratorias, 2010 -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'docencia.10' | translate }}
                                    <!-- - Papilomatosis Laríngea en Pediatría. Instituto Nacional de Enfermedades Respiratorias, 2010. -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'docencia.11' | translate }}
                                    <!-- - Traqueostomía en Pediatría. Instituto Nacional de Enfermedades Respiratorias, 2010. -->
                                </li>

                            </ul>
                        </div>
                         
                    </div>
                     
                </div>
            </div>
           
        </div>
    </div>
</div>