<!-- Default About Section -->
<div class="about-area pb-100">
    <div class="container">
        <div class="row align-items-center">
          
            <div class="col-lg-7 col-md-12">
                <div class="about-content"> 
                    <h3>
                        
                        <span>{{ 'SociedadesM.title' | translate }}</span>
                    </h3>
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <ul class="about-list">
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'SociedadesM.1' | translate }}
                                    <!-- - Foro Mexicano de Innovación quirúrgica: Tórax de 2018 a la fecha. -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'SociedadesM.2' | translate }}
                                    <!-- - Asociación Mexicana de Cirugía Robótica de 2018 a la fecha. -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'SociedadesM.3' | translate }}
                                    <!-- - The American British Cowdray Medical Center, IAP en Marzo 2015 -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'SociedadesM.4' | translate }}
                                    <!-- - Centro Médico Dalinde en Septiembre 2013. -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'SociedadesM.5' | translate }}
                                    <!-- - Consejo Mexicano de Cirugía General A.C.  en Julio 2013. -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'SociedadesM.6' | translate }}
                                    <!-- - International Thymic Malignancy Interest Group (ITMIG) en Enero 2013. -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'SociedadesM.7' | translate }}
                                    <!-- - Asociación Médica del Grupo Ángeles de Acoxpa en Enero 2013. -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'SociedadesM.8' | translate }}
                                    <!-- - Asociación de Médicos del Instituto Nacional de Nutrición y Ciencias Médicas Salvador Zubirán en Enero 2013. -->
                          
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'SociedadesM.9' | translate }}
                                    <!-- - Médica Sur Sociedad de Médicos en Febrero 2013 -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'SociedadesM.10' | translate }}
                                    <!-- - Consejo Nacional de Cirugía del Tórax A.C. en Diciembre 2012 -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'SociedadesM.11' | translate }}
                                    <!-- -  American College of Chest Physicians (ACCP) en Septiembre 2012 -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'SociedadesM.12' | translate }}
                                    <!-- - Asociación Latinoamericana de Cirugía de Tórax (ALAT) en Julio 2012 -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'SociedadesM.13' | translate }}
                                    <!-- - Sociedad  Mexicana de Neumología y Cirugía de Tórax A.C. en Mayo 2011 -->
                                </li>
                                <li>
                                    <!-- <i class="flaticon-163-draw-check-mark"></i> -->
                                    {{ 'SociedadesM.14' | translate }}
                                    <!-- - Sociedad Mexicana de Cirujanos Torácicos Generales en Mayo 2011 -->
                                </li>

                            </ul>
                        </div>
                         
                    </div>
                     
                </div>
            </div>
           
            <div class="col-lg-5 col-md-12">
                <div class="about-image">
                    <img src="assets/images/about/about-1.jpg" alt="about-image">
                </div>
            </div>

        </div>
    </div>
</div>