<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Publicaciones</h2>
            <ul class="pages-list">
                <li><a href="index.html">Inicio</a></li>
                <li>Publicaciones</li>
            </ul>
        </div>
    </div>
</div>



<!-- Default About Section -->
<div class="about-area pt-100 pb-100">
    <div class="container">
        <div class="row align-items-center">
          
            <div class="col-lg-5 col-md-12">
                <div class="about-image">
                    <img src="assets/images/trayectoria/8.png" alt="about-image">
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="about-content"> 
                    <h3>
                        <!-- <span>Publicaciones en Libros</span> -->
                    </h3>
                    <div class="row">
                        <div class="col-lg-12 col-6">
                            <ul class="about-list">
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Francina valezka Bolaños Morales. Tromboendarterectomia pulmonar. Corazón – pulmón, Hasta que la muerte los separe. Capítulo 20. Página 255-269. ISBN 978-607-97888 3-4
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Francina valezka Bolaños Morales. Transplante Pulmonar. Corazón – pulmón, Hasta que la muerte los separe. Capítulo 44. Página 571-586. ISBN 978-607-97888 3-4
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Patricio Santillán Doherty, Francina Valezka Bolaños, Luis Marcelo Argote Greene, Diana Vanessa Pérez Cautiño. Tratamiento de los pacientes con metástasis pulmonares. Tratado de Cirugía General Volumen. Asociación Mexicana de Cirugía General, A.C. Federación Mexicana de Colegios Especialista en Cirugía General, A.C. Capítulo 17.  
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Alberto Ramírez Castañeda, Francina Valezka Bolaños Morales, Diana Vanessa Pérez Cautiño, Serafín Ramírez Castañeda Mauro Echeverría Pinto. Patología quirúrgica del pericardio. Tratado de Cirugía General Volumen 1.  Asociación Mexicana de Cirugía General, A.C. Federación Mexicana de Colegios Especialista en Cirugía General, A.C. Capítulo 19.
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Francina Valezka Bolaños Morales. Luis Marcelo Argote Greene. Toracoscopia, Mediastinoscopia y Broncoscopia. Tratado de Cirugía General Volumen1 Asociación Mexicana de Cirugía General, A.C. Federación Mexicana de Colegios Especialista en Cirugía General, A.C. Capítulo 20 
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Santillán-Doherty P., Bolaños-Morales F.V., Mier-Odriozola JM. Resecciones Tímica. En: INSIDE. Editada por el Instituto de Cirugía Torácica Mínimamente Invasiva 2014. Págs. 262-295.
                                </li>
                                
                            </ul>
                        </div> 
                    </div>
                     
                </div>
            </div>
           
           

        </div>
    </div>
</div>