<!-- Banner Section -->
<div class="home-slides">
    <owl-carousel-o [options]="homeSlides">
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/home/slides-bg1.jpg);"
            >
                <div class="container">
                    <div class="main-slides-content"> 
                        <h1>
                            {{ 'home.bannerH' | translate }}
                        </h1>
                        <p>
                            {{ 'home.bannerP' | translate }}
                        </p>
                        <div class="slides-btn">
                            <a routerLink="/contacto" class="default-btn">
                                {{ 'home.bannerB' | translate }}
                            </a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </ng-template> 

    </owl-carousel-o>
</div>





<!-- Baner features -->
<div class="features-area pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-features bg-f57e57">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-178-cosmetic-surgery"></i>
                        </div>
                        <h3>
                            <a routerLink="/about-one">
                                {{ 'home.bannerNT' | translate }} 
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-149-doctor-2"></i>
                        </div>
                        <h3>
                            <a routerLink="/about-one">
                                {{ 'home.bannerMC' | translate }}  
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- About Section -->
<div class="about-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="about-content">
                    <span class="sub-title">
                        <i class="flaticon-198-hashtag-1"></i>
                        Trayectoria
                    </span>
                    <h3>
                        Dra. 
                        <span>Francina Valezka Bolaños Morales</span>
                    </h3>
                    <p style="text-align: justify;">
                        {{ 'home.trayectoria' | translate }}
                    </p>
                    <div class="list">
                        <div class="row">
                            <div class="col-6">
                                <div class="about-info">
                                    <i class="flaticon-157-caduceus"></i>
                                    <h4>+25 {{ 'home.tayectoriaA' | translate }}</h4>
                                    <span>{{ 'home.trayectoriaEP' | translate }}</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="about-info">
                                    <a routerLink="/about-one" class="default-btn two">{{ 'home.tayectoriaLM' | translate }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="about-image">
                    <img src="assets/images/home/home_trayectoria.png" alt="about-image">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Services Section -->
<div class="services-area pb-75">
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Patologías atendibles
            </span>
            <h3>
                {{ 'home.patologias' | translate }}
            </h3>
            <a routerLink="/servicios" class="default-btn">{{ 'home.patolofiasVT' | translate }}</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a class="d-block">
                            <img src="assets/images/patologias/1.png" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a  >
                                <i class="flaticon-157-caduceus"></i>
                            </a>
                        </div>
                        <h3>
                            <a >
                                {{ 'home.patologiasCP' | translate }}
                            </a>
                        </h3>
                        <p style="text-align: justify;">
                            {{ 'home.patologiasCPD' | translate }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a  class="d-block">
                            <img src="assets/images/patologias/6.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a >
                                <i class="flaticon-157-caduceus"></i> 
                            </a>
                        </div>
                        <h3>
                            <a >
                                {{ 'home.patologiasCE' | translate }}
                            </a>
                        </h3>
                        <p style="text-align: justify;">
                            {{ 'home.patologiasCED' | translate }}
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a class="d-block">
                            <img src="assets/images/patologias/2.png" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a >
                                <i class="flaticon-157-caduceus"></i>
                            </a>
                        </div>
                        <h3>
                            <a >
                                {{ 'home.patologiasDP' | translate }} 
                            </a>
                        </h3>
                        <p style="text-align: justify;">
                            {{ 'home.patologiasDPD' | translate }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a class="d-block">
                            <img src="assets/images/patologias/3.png" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a >
                                <i class="flaticon-157-caduceus"></i>
                            </a>
                        </div>
                        <h3>
                            <a >
                                {{ 'home.patologiasE' | translate }} 
                            </a>
                        </h3>
                        <p style="text-align: justify;">
                            {{ 'home.patologiasED' | translate }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a class="d-block">
                            <img src="assets/images/patologias/4.png" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a >
                                <i class="flaticon-157-caduceus"></i>
                            </a>
                        </div>
                        <h3>
                            <a >
                                {{ 'home.patologiasET' | translate }} 
                            </a>
                        </h3>
                        <p style="text-align: justify;">
                            {{ 'home.patologiasETD' | translate }}
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a  class="d-block">
                            <img src="assets/images/patologias/5.png" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a >
                                <i class="flaticon-157-caduceus"></i>
                            </a>
                        </div>
                        <h3>
                            <a >
                                {{ 'home.patologiasH' | translate }} 
                            </a>
                        </h3>
                        <p style="text-align: justify;">
                            {{ 'home.patologiasHD' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Call Us Services -->
<div class="overview-area bg-f5f5f5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="overview-content">
                    <span class="sub-title">
                        <i class="flaticon-198-hashtag-1"></i>
                        Operaciones robóticas
                    </span>
                    <h3>
                        {{ 'home.CR.title' | translate }}
                    </h3>
                    <p>
                        {{ 'home.CR.description' | translate }} 
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="overview-image">
                    <img src="assets/images/home/da_vinci.png" alt="overview-image">
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Appointment Section -->
<div class="appointment-overview-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="appointment-overview-contact">
                    <img src="assets/images/home/llamanos_1.png" alt="appointment-image">
                    <div class="appointment-info">
                        <div class="call-info">
                            <i class="flaticon-039-emergency-call"></i>
                            {{ 'home.SC.llamanos' | translate }}
                            <span>
                                <a href="tel:088123654987">
                                    +52 777 22 781 22
                                </a>
                            </span>
                        </div>
                        <a routerLink="/contact-us" class="default-btn">
                            {{ 'home.SC.contact' | translate }}

                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="appointment-overview-box">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="make-appointment-content">
                                <h4>
                                    <i class="flaticon-170-calendar-1"></i> 
                                    {{ 'home.SC.sc' | translate }}
                                </h4>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="{{ 'home.SC.nombre' | translate }}">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="{{ 'home.SC.email' | translate }}">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="{{ 'home.SC.tel' | translate }}">
                                    </div>
                                    <button type="submit" class="default-btn">{{ 'home.SC.sc' | translate }}</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content">
                                <h4>{{ 'home.SC.TE' | translate }}</h4>
                                <div class="box-image">
                                    <img src="assets/images/home/cita_video.jpg" alt="appointment-image">
                                    <button class="video-btn" (click)="ngxSmartModalService.getModal('popupOne').open()">
                                        <i class='bx bx-play'></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Features Section -->
<div class="core-features-area pt-100 pb-75 bg-eef9ff">
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Procedimientos
            </span>
            <h2>
                {{ 'home.procedimientos.title' | translate }}
            </h2>
            <a routerLink="/publicaciones" class="default-btn">{{ 'home.patolofiasVT' | translate }}</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-090-lunges"></i>
                    </div>
                    <h3>
                        <a > 
                            {{ 'home.procedimientos.B' | translate }}
                        </a>
                    </h3>
                    <p style="text-align: justify;">
                        {{ 'home.procedimientos.BD' | translate }}
                        <br><br>
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-178-cosmetic-surgery"></i>
                    </div>
                    <h3>
                        <a >
                            {{ 'home.procedimientos.CRT' | translate }} 
                        </a>
                    </h3>
                    <p style="text-align: justify;">
                        {{ 'home.procedimientos.CRTD' | translate }}
                        <br><br>
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-090-lunges"></i>
                    </div>
                    <h3>
                        <a >
                            {{ 'home.procedimientos.DP' | translate }}
                        </a>
                    </h3>
                    <p style="text-align: justify;">
                        {{ 'home.procedimientos.DPD' | translate }}
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-161-hospitalisation"></i>
                    </div>
                    <h3>
                        <a >
                            {{ 'home.procedimientos.F' | translate }} 
                        </a>
                    </h3>
                    <p style="text-align: justify;">
                        {{ 'home.procedimientos.FD' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>