<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Afiliaciones</h2>
            <ul class="pages-list">
                <li><a href="index.html">Inicio</a></li>
                <li>Afiliaciones</li>
            </ul>
        </div>
    </div>
</div>

<!-- Portfolio -->
<div class="portfolio-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <h1 style="margin-bottom: 20px;">
                Consejos Médicos
                <br>
            </h1>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/afiliaciones/cm_1.png" alt="portfolio-image">
                        </a> 
                    </div> 
                </div>
            </div> 
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/afiliaciones/cm_2.png" alt="portfolio-image">
                        </a>
                    </div>
                </div>
            </div>


            <h1 style="margin-bottom: 20px; margin-top: 40px;">
                Sociedades Médicas
                <br>
            </h1>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/afiliaciones/1.png" alt="portfolio-image">
                        </a>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/afiliaciones/2.png" alt="portfolio-image">
                        </a>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/afiliaciones/3.png" alt="portfolio-image">
                        </a>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/afiliaciones/4.png" alt="portfolio-image">
                        </a>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/afiliaciones/5.png" alt="portfolio-image">
                        </a>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/afiliaciones/6.png" alt="portfolio-image">
                        </a>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/afiliaciones/7.png" alt="portfolio-image">
                        </a>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/afiliaciones/8.png" alt="portfolio-image">
                        </a>
                    </div>
                </div>
            </div> 
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/afiliaciones/9.png" alt="portfolio-image">
                        </a>
                    </div>
                </div>
            </div>  
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/afiliaciones/10.png" alt="portfolio-image">
                        </a>
                    </div>
                </div>
            </div> 
            
 
        </div>
    </div>
</div>