<!-- Page Banner -->
<div
    class="page-banner-area ptb-100 four"
    style="background-image: url(assets/images/page-title/page-title3.jpg);"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Patologías atendibles</h2>
            <ul class="pages-list">
                <li><a href="index.html">Inicio</a></li>
                <li>Patologías</li>
            </ul>
        </div>
    </div>
</div>

<!-- Services -->
<div class="services-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-1.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-146-dentist-chair"></i>
                            </a>
                        </div> -->
                        <h3>
                            <a routerLink="/service-details">
                                Cáncer de pulmón
                            </a>
                        </h3>
                        <p>Tumor maligno que se desarrolla en los pulmones, generalmente causado por el tabaquismo y puede causar síntomas como tos, dificultad para respirar y dolor en el pecho.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-2.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-153-dental-care"></i>
                            </a>
                        </div> -->
                        <h3>
                            <a routerLink="/service-details">
                                Cáncer esofágico
                            </a>
                        </h3>
                        <p>Tumor maligno que se desarrolla en el esófago, el tubo que conecta la garganta con el estómago, y puede causar dificultad para tragar, pérdida de peso y dolor en el pecho.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-3.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-154-dental-implant"></i>
                            </a>
                        </div> -->
                        <h3>
                            <a routerLink="/service-details">
                                Derrame pleural
                            </a>
                        </h3>
                        <p>
                            Acumulación de líquido entre las capas de tejido que rodean los pulmones, causando dificultad para respirar y dolor en el pecho.
                            <br><br><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-4.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-155-tooth-1"></i>
                            </a>
                        </div> -->
                        <h3>
                            <a routerLink="/service-details">
                                Empiemas
                            </a>
                        </h3>
                        <p>
                            Acumulación de pus en el espacio entre los pulmones y el revestimiento del tórax, lo que puede provocar fiebre, dolor de pecho y dificultad para respirar.
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-5.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-152-tooth"></i>
                            </a>
                        </div> -->
                        <h3>
                            <a routerLink="/service-details">
                                Estenosis traqueal
                            </a>
                        </h3>
                        <p>
                            Estrechamiento anormal de la tráquea que puede causar dificultad para respirar y tos crónica.
                            <br><br><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                        <h3>
                            <a routerLink="/service-details">
                                Hernias diafragmáticas
                            </a>
                        </h3>
                        <p>Abertura anormal en el diafragma, el músculo que separa el tórax del abdomen, que permite que los órganos abdominales se muevan hacia el tórax y causen dificultad para respirar.</p>
                    </div>
                </div>
            </div>





            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                        <h3>
                            <a routerLink="/service-details">
                                Hiperhidrosis
                            </a>
                        </h3>
                        <p>
                            Condición en la que se produce sudoración excesiva, generalmente en las manos, pies y axilas, y puede causar molestias y vergüenza.
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                        <h3>
                            <a routerLink="/service-details">
                                Lesiones esofágicas
                            </a>
                        </h3>
                        <p>Daño en el esófago que puede ser causado por factores como el reflujo ácido y la ingestión de sustancias tóxicas, y puede causar dificultad para tragar y dolor en el pecho.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                        <h3>
                            <a routerLink="/service-details">
                                Malformaciones congénitas del tórax
                            </a>
                        </h3>
                        <p>Anomalías en la forma del tórax, como la Pectus Excavatum (hundimiento del esternón) y la Pectus Carinatum (protuberancia del esternón).</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                        <h3>
                            <a routerLink="/service-details">
                                Mediastinitis
                            </a>
                        </h3>
                        <p>Inflamación del mediastino, el espacio en el centro del tórax que contiene el corazón, los grandes vasos sanguíneos y otros órganos, que puede ser causada por infección o lesión y puede ser potencialmente mortal.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                        <h3>
                            <a routerLink="/service-details">
                                Miastenia Gravis
                            </a>
                        </h3>
                        <p>Enfermedad autoinmunitaria que causa debilidad muscular, incluyendo los músculos utilizados para respirar, y puede provocar dificultad para respirar, hablar y tragar.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                        <h3>
                            <a routerLink="/service-details">
                                Mesotelioma
                            </a>
                        </h3>
                        <p>
                            Tumor maligno que se desarrolla en el revestimiento de los pulmones, la pared torácica o el abdomen, y generalmente es causado por la exposición al asbesto.
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                        <h3>
                            <a routerLink="/service-details">
                                Neumotórax
                            </a>
                        </h3>
                        <p>
                            Presencia de aire en el espacio entre los pulmones y la pared torácica, lo que puede causar colapso del pulmón y dificultad para respirar.
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                        <h3>
                            <a routerLink="/service-details">
                                Nódulos pulmonares
                            </a>
                        </h3>
                        <p>Pequeñas protuberancias anormales en los pulmones que se detectan a menudo por radiografía o tomografía computarizada y pueden ser causadas por diversas afecciones.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <!-- <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div> -->
                        <h3>
                            <a routerLink="/service-details">
                                Timomas
                            </a>
                        </h3>
                        <p>
                            Tumor raro que se desarrolla en el timo, un órgano
                            <br><br><br><br>
                        </p>
                    </div>
                </div>
            </div>
     
<!--              
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="pagination-area">
                    <span class="prev page-numbers" disabled>
                        <i class='flaticon-015-left-arrow'></i>
                    </span>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/services" class="page-numbers">2</a>
                    <a routerLink="/services" class="page-numbers">3</a>
                    <a routerLink="/services" class="page-numbers">4</a>
                    <a routerLink="/services" class="next page-numbers">
                        <i class='flaticon-014-right-arrow'></i>
                    </a>
                </div>
            </div> -->
        </div>
    </div>
</div>