<!-- Default About Section -->
<div class="about-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="about-content">
                <span class="sub-title">
                    <i class="flaticon-198-hashtag-1"></i>
                     Presentaciones en cartel
                </span>
                <h3>
                    <span> Presentaciones en cartel</span>
                </h3>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <ul class="about-list">
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    LXXI Congreso Nacional de Neumología y Cirugía de Tórax. “Combinación Excepcional de Linfoma Primario de Tiroides, Carcinoma Papilar y Tiroiditis de Hashimoto”. Cancún (México) 2012. Autor.
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    LXXI Congreso Nacional de Neumología y Cirugía de Tórax. “Manejo de Estenosis Traqueal Adquirida y Primer Trimestre de Embarazo”. Cancún (México) 2012. Autor.
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    LXXI Congreso Nacional de Neumología y Cirugía de Tórax. “Técnica de Necrosectomía Pulmonar en Pacientes Pediátricos”. Cancún (México) 2012. Autor.
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    LXXI Congreso Nacional de Neumología y Cirugía de Tórax. “Gammagrafía Pulmonar Ventilatoria-Persuasoria con SPECT-CT en dos Pacientes con Malformaciones Congénitas de Tórax”. Cancún (México) 2012. Coautor.
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    LIV Reunión Anual de la Asociación de Médicos del Instituto Nacional de Ciencias Médicas y Nutrición “Salvador Zubirán”. “Validar el Método del “Thoracic Surgery Scoring” (THORACOSCORE) en dos Institutos que Tienen Programas de Cirugía Cardiotorácica en México”. Oaxaca (México) 2012. Autor.
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    LXX Congreso Nacional de Neumología y Cirugía de Tórax. “Manejo Qurúrgico de Fístula Traqueoesofágicas Adquiridas No Malignas en un Periodo de 6 Años en el Instituto Nacional de Enfermedades Respiratorias “Ismael Cosío Villegas”. Puebla (México) 2011. Autor.
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    LXX Congreso Nacional de Neumología y Cirugía de Tórax. “Cirugía Cardiaca con Circulación Extracorpórea y Resección de Cáncer de Pulmón Influencia en la Morbilidad Quirúrgica y Supervivencia”. Puebla (México) 2011. Autor.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <ul class="about-list">
                                
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    LXX Congreso Nacional de Neumología y Cirugía de Tórax. “Fístula Arteriovenosa del Pulmón Congénita y Trombosis del Seno Coronal. Abordaje Quirúrgico Caso Reporte”. Puebla (México) 2011. Autor.
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    LXX Congreso Nacional de Neumología y Cirugía de Tórax. “Desarrollo Evolutivo en la Sustitución de la Táquea”. Puebla (México) 2011. Coautor.
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    LXX Congreso Nacional de Neumología y Cirugía de Tórax. “Tumor Carcinoide de la Tráquea. Reporte de Caso y Revisión de la Literatura”. Puebla (México) 2011. Coautor.
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    XIX Congreso Latinoamericano de Cirugía FELAC / XXXV Congreso Internacional de Cirugía General. “Esplenectomía Asociada a Patología Respiratoria y VIH”. Veracruz (México) 2011.
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    XLIV Curso Anual de Radiología e Imagen 2010 / XXII Encuentro Nacional de Residentes y Radiólogos. “Gammagrafía Pulmonar Ventilatoria-Perfusoria con SPECT-CT en dos Pacientes con Malformaciones Congénitas de Tórax”. Ciudad de México (México) 2010.
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    XXXVIII Jornadas Médico-Quirúrgicas del Instituto Nacional de Enfermedades Respiratorias Ismael Cosío Villegas. Procalcitonina Semicuantitativa y Score de SOFA y APACHE en el Pronóstico de Pacientes con Mediastinitis. Ciudad de México (México) 2010.   
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    LXVIII Congreso Nacional de Neumología y Cirugía de Tórax. “Pericarditis Tuberculosa, Presentación de un Caso”. Boca del Río (México) 2009.   
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    LXVIII Congreso Nacional de Neumología y Cirugía de Tórax. “ Fístula Traqueoesofágica y Estenosis Traqueal. Presentación de un Caso”. Boca del Río (México) 2009. 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>